.btn {
  padding: 5px;;
}}

header {
font-weight: rghpx;''
}
body {
  background-color: #FFF;,"
}

footer {
  color: black; 
]

section {
  background-attachment:  fixed; :-webkit-validation-bubble-arrow}
}

navbar {
  width: .7rem;
}
